* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.overlay
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 174, 156, 0.8);
    z-index: 2;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.main-color {
    color: #E99497;
}

.line {
    border: 1px solid black;
    flex-basis: 39%;
    height: 4px;
}
.input input
{
    padding: 9px;
    border-radius: 13px;
}
.checked {
    color: #E99497;
}
button
{
    padding: 5px 45px;
    border-radius: 25px;
    background: none;
    cursor: pointer;
    transition: all .5s ease-in-out;

}
button:hover
{
    background-color: #f56b6b;
}
svg.svg-inline--fa.fa-heart.fa-w-16
{
    color: red;
}
svg.svg-inline--fa.fa-shopping-cart.fa-w-18 {
    color: blueviolet;
}
svg.svg-inline--fa.fa-share.fa-w-16 {
    color: #1f3971;
}
/* Start Styling Header */
header
{
    background-color: gainsboro;
    padding-top: 15px
}
header, header .container .row .top-navbar ul li a
{
    color: gray;
}
header .container .row .top-navbar ul li
{
    list-style: none;
    color: gray;
    flex-basis: 25%;
}
header .container .row .top-navbar ul li a 
{
    text-decoration: none;
    transition: all .3s ease-in-out;
}
header .container .row .top-navbar ul li a.nav-link
{
    padding: 0 !important;
}
header .container .row .top-navbar ul li a.active:hover
{
    color:palevioletred;
}


.search-bar
{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px auto;
    
}
.search {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    width: 35%;
    margin:50px 0 50px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 2.25rem;
}

.search-input {
    color: black;
    font-size: 19px;
    font-weight: 300;
    border: 0;
    outline: 0;
    background: none;
    width: 70%;
    padding: 0 10px;
    margin: 5px 0 6px;
    caret-color: transparent;
    line-height: 20px;
}

.search-icon {
    padding: 1px;
    height: 34px;
    width: 34px;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    color: gainsboro;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.search-icon:hover {
    color: rgb(149, 145, 145) !important
}

.fashion {
    background-color: black;
    position: relative;
}

.fashion nav .icon h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.fashion .container nav ul.show-menu
{
    left: 0;
}
.fashion .container .menu-icon , .fashion .container .close-icon 
{
    display: none;
    width: 35px;
    height: 35px;
    padding: 4px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fashion nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fashion nav ul {

    display: flex;
    list-style: none;
    flex-basis: 60%;
    justify-content: space-evenly;
    padding-top: 10px;
}

.fashion nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.fashion nav ul li a:active {
    color: #E99497;
}

.fashion nav ul li a:hover {
    color: #E99497;

}

.banner {
    background-image: url(../img/girls-models.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner .swiper-container {
    width: 100%;
    height: 25%;
    top: 45%;
    position: absolute;
}
.shoes .swiper-container
{
    width: 100%;
    height: 78%;
    position: absolute;
}

.banner .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(255, 99, 71, 0.3);

}

.banner .swiper-slide h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: monospace;
}
.banner .swiper-slide p {
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: white;
    transform: translate(-20rem, 3rem);
}
.banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------End Header--------*/
/*---------Start Main--------*/
/*---------Start COLLECTION--*/


.collection {
    padding-top: 50px;
}

.collection .trend{
    display: flex;
}
.collection .collitem , .collection .position, .products
{
    position: relative;
}
.collection .trend .collitem .over-1, .over-2 , .men-side .over-3 , .img-overlay1, .img-overlay3{
    opacity: 0;
    transition: .7s ease-in-out;
}

.collection .trend .collitem:hover .over-1, .over-2:hover , .men-side .over-3:hover , .img-overlay1:hover , .img-overlay3:hover{
    opacity: 1;
    cursor: pointer;
}
.collection .trend .collitem .over-1 , .over-3 , .over-2 , .img-overlay1 , .img-overlay3
{
    position: absolute;
    background: rgba(49, 55, 61, 0.5);
    color: #fff;
    padding: 10px;
}
.colletcioninfo {
    width: 66%;
}
.collection .trend .collitem .over-1{
    top: 0;
    left: 0;
    width: 69%;
    height: 95.5%;
}
.over-3 {
    top: 51%;
    left: 11px;
    width: 94.7%;
    height: 48.8%;
}
.img-overlay3
{
    top: 0;
    left: 10px;
    width: 93.7%;
    height: 99.7%;
}
.over-2 {
    top: 0;
    left: 11px;
    width: 94.5%;
    height: 43.7%;
}
.img-overlay1
{
    top: 0;
    left: 7px;
    width: 94.5%;
    height: 99.5%;
}
.imgicon {
    position: absolute;
    transform: translate(7.5rem, 13rem);
    font-size: 40px;
}
.collection .trend .collitem .over-1 .upper, .over-2 .upper , .over-3 .upper
{
    text-transform: uppercase;
    margin-top: 26%;
    color: white;
    background-color: inherit;
    background-color: none;
    background-image: inherit;
    border: 1px solid white;
    border-radius: 0px;
    padding: 12px 30px;
}
.collection .trend .woman img {
    padding-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection .trend .woman .colletcioninfo h3
{
    letter-spacing: 8px;
}


/* .collection .trend .woman button {
    padding: 5px 45px;
    border-radius: 25px;
    background: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
} */
/* .collection .trend .woman button:hover
{
    background-color: #f56b6b
} */
.collection .trend .men .box {
    padding: 15px 0;
}

/*---------END COLLECTION----*/

/*Start feature*/

.feature {
    padding-top: 50px;
}

.feature .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature .All {
    padding-bottom: 25px;
}

.feature .All ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;

}


.feature .All ul a {
    text-decoration: none;
    color: black;
}

.feature .All ul a:hover {
    color: #E99497;
}


.feature .All ul a:active {
    color: #E99497;
}


.feature  .box {
    padding: 15px 0;
    flex-basis: 23%;
    margin-right: 20px;
}

.feature  .box .star{
    padding: 5px 0;
    text-align: start;
}


.feature  .box .price{
    transform: translate(-10px, -30.51rem);
    text-align: end;
    color: white;
}
.feature  .box .text
{
    margin-left: 20px;
    text-align: left;
}

.feature  .box .price span{
    background-color: black;
}


.feature  .box .sm-icons , .top .first .box .sm-icons {
    margin-bottom: 12.5px;
    display: flex;
    justify-content: start;
}

.feature  .box .sm-icons div{
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: black;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .7s ease-in-out;
    
}
.feature  .box .sm-icons div a , .top .first .box .sm-icons div a{
    color: black;
    
}

.feature  .box .sm-icons div:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    
}
.feature  .swiper-container {
    width: 100%;
    height: 100%;
}

.feature  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.feature .swiper-slide {
        display: flex;
        justify-content: space-evenly;
}
.top .first .box img
{
    max-width: 100%;
}
.feature  .swiper-slide img, .top .first .box img{
    height: 52vh;
    object-fit: cover;
}
.feature .swiper-slide img
{
    max-width: 94%;
}

.feature  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.feature .first .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}


/* End Feature*/
/*Start image*/

.image{
    padding-top: 50px;
}

.image .photo{
    display: flex;
}


.image .photo .boximg .discount{
    width: fit-content;
    transform: translate(14rem, -11.5rem);
    color: white;
    text-shadow: 2px 6px black;
    font-weight: bold;
}
.image .photo .boximg h3
{
    font-size: 40px;
}
.image .photo .boximg p
{
    font-size: 20px;
}

.image .photo .boximg .na{
    transform: translate(5rem, -11.5rem);
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    width: 75%;
}

.image .photo .boximg .dia{
    transform: translate(11rem, -10.5rem);
    color: white;
    font-size: 35px;
    width: 50%;
    font-weight: bold;
}

/*End Image*/
/* Start Trend*/



.top .trend {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

.top .first{
    display: flex;
    justify-content: space-evenly;
    
}

.top .first  .box{
    padding: 15px 0;
}

.top .first  .box .star{
    padding: 5px 0;
    text-align: start;
}


.top .container .first .row .box .price {
    transform: translate(-63.8rem, -30.5rem);
    text-align: end;
    color: white;
}

.top .first  .box .price span{
    background-color: black;
}


.top .first  .box .sm-icons {
    margin-bottom: 12.5px;
    display: flex;
    justify-content: start;
}

.top .first  .box .sm-icons div {
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: black;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .7s ease-in-out;
    
}

.top .first  .box .sm-icons div:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    
}

.top .button  {
    padding:30px 0;
    text-align: center;
    
}
/* .top .button button{
    padding: 5px 20px;
    background: none;
    cursor: pointer;
} */


/* End Trend*/
/*Start shoes*/


.shoes{
    background-image: url(../img/tieshoes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
    width: 100%;
}

.shoes .items{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.shoes .items .quote{
    padding: 40px 0;
    font-size: 40px;
}

.shoes .items .text{
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 1px black;
    width: 75%;
    padding: 25px 0;
}
.shoes .items .postbody{
    margin-left: -9%;
    font-style: italic;
    font-size: 17px;
}
.shoes .items .user-name
{
    margin-left: -3%;
    font-size: 30px;
}
.shoes .items .role
{
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}
.shoes .items .pic{
    padding: 25px 0;
}

.shoes .items .pic h5,
.shoes .items .pic p{
    color: white;
    text-align: center;

}

/*End shoes*/
/*Start Latest*/

.latest{
    padding-top: 50px;
}

.latest .text{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

.latest .blog{
    display: flex;
    justify-content: space-evenly;
}

.latest .blog .box{
    flex-basis: 28%;
}

/* .latest .blog .box button{
    padding: 5px 20px;
    background: none;
    cursor: pointer;
} */

/* End latest*/
/* Start theme*/

.theme{
    padding-top: 50px;
}

.theme .text{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

.theme .icon{
    display: flex;
    justify-content: space-between;
}
.theme .icon img
{
    filter: gray;
    filter: grayscale(1);
    transition: .6s;
    cursor: pointer;
}
.theme .box:hover img
{
    filter: none;
    filter: grayscale(0);
}
/* End theme*/
/*Start Footer*/


.about{
    padding-top: 50px;
    background-color: rgb(60, 60, 60);
}

.about .footer{
    display: flex;
    justify-content: space-evenly;
}

.about .footer h4,
.about .footer p{
    color: white;

}
.about .opinion input
{
        border-radius: 16px;
        color: black;
        border: 1px solid black;
        padding: 7px 53px;
        margin: 4px 0px;
        background-color: #E99497;
}
.about .footer  button{
    padding: 5px 50px;
    margin:  15px 0px;
    background-color: #E99497 ;
}

.about .footer .sm-icons {
    margin-bottom: 12.5px;
    display: flex;
    justify-content: center;
}

.about .footer .sm-icons div {
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .7s ease-in-out;
}

.about .footer .sm-icons div:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    
}

footer{
    background-color: black ;
}

footer .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .text .ella,
footer .text .visa{
    color: white;
    padding: 15px 0;
}





/*End Footer*/
/*---------End Main----------*/

/* Start Media Quries */
@media(max-width:1200px) {
    .container
    {
        width: 100%;
    }
    .collection .trend{
        flex-wrap: wrap;
        justify-content: center;
    }
    .collection .trend .woman img,
    .collection .trend .woman p,
    .collection .trend .men{
        width: 100%;
    }
    .image .photo {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
    }
    .boximg {
        height: 85.5vh;
        width: 100%;
    }
    img {
        width: 100%;
    }
    .image .photo .boximg .discount {
        width: 50%;
        transform: translate(30rem, -16.5rem);
    }
        .image .photo .boximg .na {
            width: 43%;
            transform: translate(23rem, -18.5rem);
    }
        .image .photo .boximg .dia {
            width: 28%;
            transform: translate(28rem, -16.5rem);
    }

}

@media(max-width:992px) {
    header .container .row .top-navbar .customize-ul
    {
        justify-content: space-between;
    }
    header .container .row .leftside
    {
        width: 40.333333%;
    }
    header .container .row .rightside
    {
        width: 59%;
    }
    .image .photo .boximg .discount
    {
        transform: translate(23rem, -15.5rem);
    }
    .image .photo .boximg .na {
        width: 55%;
        transform: translate(18rem, -16.5rem);
    }
    .image .photo .boximg .dia {
        width: 40%;
        transform: translate(22rem, -14.5rem);
    }

    .shoes .items .text {
        padding: 15px 0;
    }
    .shoes .items .pic {
        padding: 0px;
    }
    .feature .swiper-slide img , .top .first .box img , .top .second .box img
    {
        max-width: 86%;

    }
    .feature .box .price{
        transform: translate(-34px, -19.28rem);
    }
    .top .first .container .row .box .price{
        transform: translate(-34px, -19.28rem);
    }
    .feature .box h2 , .top .first .box h2 , .top .second .box h2 {
        font-size: 25px;
        text-align: left;
    }

}

@media(max-width:768px) {
    /* header .container .row .top-navbar .customize-ul
    {
        
    } */
    header .container .row .leftside, header .container .row .rightside
    {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    header .container .row .leftside p
    {
        text-align: center;
        font-size: 20px;
    }
    .fashion .container .icons
    {
        text-align: center;
        font-size: 25px;
    }
    .fashion .container .menu-icon
    {
        display: block;
        cursor: pointer;
        position: absolute;
        color: white;
        right: 5%;
        top: 1%;
        z-index: 3;
    }
    .fashion .container .close-icon
    {
        position: fixed;
        top: 4%;
        left: 92%;
        width: 35px;
        height: 35px;
        font-size: 30px;
        padding: 2px 8px;
        color: currentcolor;
        border-radius: 50%;
        z-index: 99999999999;
    }
    .fashion .container nav ul
    {
        list-style: none;
        position: fixed;
        top: 0%;
        left: -250px;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        padding-top: 30px;
        line-height: 3.25rem;
        background-color: rgba(64, 17, 27, 0.8);
        z-index: 999999999945;
    }
    .search
    {
        justify-content: space-around;
        width: 60%;
    }
    .fashion nav ul
    {
        display: none;
    }
    .feature .item h2, .top .trend h2 , .latest .text h2 , .theme .text h2{
        font-size: 20px;
    }
    .feature .link
    {
        flex-basis: 27%;
    }
    .feature .swiper-slide , .top .first, .top .second
    {
        flex-wrap: wrap;
    }
    .feature .box .price, .top .first .box .price, .top .second .box .price {
        transform: translate(-35px, -20.1rem);
    }
    .feature .box h2, .top .first .box h2, .top .second .box h2 , .feature .box .star , .top .first .box .star, .top .second .box .star , .latest .blog .box
    {
        text-align: center;
    }
    .feature .box .sm-icons , .top .first .box .sm-icons, .top .second .box .sm-icons
    {
        justify-content: center;
    }
    .boximg {
        height: 53.5vh;
    }
    .image .photo .boximg .discount {
        transform: translate(17.2rem, -12.5rem);
    }
    .image .photo .boximg .na {
        width: 67%;
        transform: translate(11rem, -13.5rem);
    }
    .image .photo .boximg .dia {
        width: 50%;
        transform: translate(14rem, -12.5rem);
    }
    .top {
        margin-top: 50px;
    }
    .shoes .items .quote , .latest .blog .box h2 {
        padding: 21px 0;
    }
    .latest .blog {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .latest .blog .box
    {
        margin-bottom: 40px;
    }
    .theme {
        padding-top: 25px;
    }
    .theme .icon img
    {
        width: 90%;
    }
    .about .footer {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .about .footer h4
    {
        font-size: 30px;
    }
    footer .text {
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:576px) {
    .search {
        justify-content: space-around;
        width: 85%;
    }
    .feature .line , .top .line , .theme .line
    {
        flex-basis: 35%;
    }
    .boximg {
        height: 39.5vh;
    }
    .image .photo .boximg .discount {
        transform: translate(12.2rem, -10.5rem);
    }
    .image .photo .boximg .na {
        width: 90%;
        transform: translate(3rem, -9.5rem);
        font-size: 30px;
    }
    .image .photo .boximg .dia {
        width: 58%;
        transform: translate(8rem, -8.5rem);
    }
    .shoes .items .text {
        padding: 10px 0;
    }
}

@media(max-width:280px) {
    .container
    {
        width: 100%;
    }
    header .container .row .leftside p {
        font-size: 15px;
    }
    header .container .row .top-navbar .customize-ul {
        justify-content: space-between;
        flex-direction: column;
    }
    .search {
        width:100%
    }
    header .container .row .leftside, header .container .row .rightside {
        flex-basis: 95%;
    }
    .fashion .container nav ul
    {
        width: 180px;
    }
    .fashion .container .close-icon
    {
        left: 85%
    }
    .feature .swiper-slide, .top .first, .top .second
    {
        justify-content: flex-end;
    }
    .collection .trend .woman .colletcioninfo h3
    {
        font-size: 20px;
    }
    .collection .trend .woman .colletcioninfo h1
    {
        font-size: 25px;
    }
    .feature .line, .top .line, .theme .line, .latest .line {
        flex-basis: 25%;
    }
    .boximg {
        height: 21.5vh;
    }
    .image .photo .boximg h3 {
        font-size: 25px;
    }
    .image .photo .boximg p {
        font-size: 18px;
    }
    .image .photo .boximg .discount {
        transform: translate(5.2rem, -5.5rem);
    }
    .image .photo .boximg .na {
        width: 90%;
        transform: translate(1.2rem, -5.5rem);
        font-size: 11px;
    }
    .image .photo .boximg .dia {
        width: 77%;
        transform: translate(3rem, -3.5rem);
        font-size: 19px;
    }
    .shoes .items .text {
        padding: 10px 0;
        font-size: 13px;
    }
    .shoes .items img
    {
        width: 80%;
    }
    .about .footer h4 {
        font-size: 26px;
    }
    .theme .icon {
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
    }
}
/* End Media Quries */



/* End Styling Header */